<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">Main page</button>
    </div>

    <div class="info">
        <strong>Author is here</strong>
        <small>12.09.2019</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur, assumenda, atque aut consequuntur doloremque doloribus iste nisi officia quis quos totam? Animi aut consequatur doloremque, enim est excepturi iste libero placeat sequi voluptas? Culpa cum cumque et incidunt minima, nam nesciunt qui quisquam ratione reiciendis sint tempora voluptate, voluptates.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur, assumenda, atque aut consequuntur doloremque doloribus iste nisi officia quis quos totam? Animi aut consequatur doloremque, enim est excepturi iste libero placeat sequi voluptas? Culpa cum cumque et incidunt minima, nam nesciunt qui quisquam ratione reiciendis sint tempora voluptate, voluptates.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur, assumenda, atque aut consequuntur doloremque doloribus iste nisi officia quis quos totam? Animi aut consequatur doloremque, enim est excepturi iste libero placeat sequi voluptas? Culpa cum cumque et incidunt minima, nam nesciunt qui quisquam ratione reiciendis sint tempora voluptate, voluptates.</p>

    </div>
</div>
